---
import { Image } from "astro:assets";
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;

const maxImagesToShowSM = 4;
const maxImagesToShowMD = 6;
const maxImagesToShowLG = 12;
const imagesToShowSM = blok.image.slice(0, maxImagesToShowSM);
const imagesToShowMD = blok.image.slice(0, maxImagesToShowMD);
const imagesToShowLG = blok.image.slice(0, maxImagesToShowLG);
---

<section {...storyblokEditable(blok)} id="dog-gallery" class="pt-24">
  {
    imagesToShowSM.map((img) => (
      <Image
        src={img.filename}
        alt=""
        class="block md:hidden object-cover w-full h-full object-contain rounded-md md:m-3"
        inferSize={true}
      />
    ))
  }

  {
    imagesToShowMD.map((img) => (
      <Image
        src={img.filename}
        alt=""
        class="hidden md:block lg:hidden object-cover w-full h-full object-contain rounded-md md:m-3"
        inferSize={true}
      />
    ))
  }

{
    imagesToShowLG.map((img) => (
      <Image
        src={img.filename}
        alt=""
        class="hidden lg:block object-cover  w-full h-full object-contain rounded-md md:m-3"
        inferSize={true}
      />
    ))
  }
</section>

<style>
  #dog-gallery {
    display: grid;
    /* this is a big ugly todo in tailwind so using css directly */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
