---
import { Image } from "astro:assets";
import sqgallery from '../assets/images/sq_gallery.jpg'
---



<section id="gallery" class="mt-80">
    <!-- map over images taken from Storyblok -->
    <div class="grid grid-cols-3 justify-items-center">
      <Image
        src={sqgallery}
        alt="dog testermonial"
        width={300}
        height={300}
        class="rounded-md shadow-lg m-3"
      />
      <Image
        src={sqgallery}
        alt="dog testermonial"
        width={300}
        height={300}
        class="rounded-md shadow-lg m-3"
      />
      <Image
        src={sqgallery}
        alt="dog testermonial"
        width={300}
        height={300}
        class="rounded-md shadow-lg m-3"
      />
      <Image
        src={sqgallery}
        alt="dog testermonial"
        width={300}
        height={300}
        class="rounded-md shadow-lg m-3"
      />
      <Image
        src={sqgallery}
        alt="dog testermonial"
        width={300}
        height={300}
        class="rounded-md shadow-lg m-3"
      />
      <Image
        src={sqgallery}
        alt="dog testermonial"
        width={300}
        height={300}
        class="rounded-md shadow-lg m-3"
      />
      <Image
        src={sqgallery}
        alt="dog testermonial"
        width={300}
        height={300}
        class="rounded-md shadow-lg m-3"
      />
      <Image
        src={sqgallery}
        alt="dog testermonial"
        width={300}
        height={300}
        class="rounded-md shadow-lg m-3"
      />
      <Image
        src={sqgallery}
        alt="dog testermonial"
        width={300}
        height={300}
        class="rounded-md shadow-lg m-3"
      />
    </div>
  </section>