---
import { Image } from "astro:assets";
import sqgallery from "../assets/images/sq_gallery.jpg";
---

<!-- <section id="gallery" class="border-2 border-orange-500 mt-40 max-h-screen"> -->
<section id="gallery" class="border-2 border-orange-500 mt-40">
  <!-- map over images taken from Storyblok -->
  <div class="grid grid-cols-3 justify-items-center">
    <Image
      src={sqgallery}
      alt="dog testermonial"
      width={300}
      height={300}
      class="rounded-md shadow-lg m-2"
    />
    <Image
      src={sqgallery}
      alt="dog testermonial"
      width={300}
      height={300}
      class="rounded-md shadow-lg m-2"
    />
    <Image
      src={sqgallery}
      alt="dog testermonial"
      width={300}
      height={300}
      class="rounded-md shadow-lg m-2"
    />
    <Image
      src={sqgallery}
      alt="dog testermonial"
      width={300}
      height={300}
      class="rounded-md shadow-lg m-2"
    />
    <Image
      src={sqgallery}
      alt="dog testermonial"
      width={300}
      height={300}
      class="rounded-md shadow-lg 2"
    />
    <Image
      src={sqgallery}
      alt="dog testermonial"
      width={300}
      height={300}
      class="rounded-md shadow-lg 2"
    />
    <Image
      src={sqgallery}
      alt="dog testermonial"
      width={300}
      height={300}
      class="rounded-md shadow-lg 2"
    />
    <Image
      src={sqgallery}
      alt="dog testermonial"
      width={300}
      height={300}
      class="rounded-md shadow-lg 2"
    />
    <Image
      src={sqgallery}
      alt="dog testermonial"
      width={300}
      height={300}
      class="rounded-md shadow-lg 2"
    />
  </div>
</section>
