---
import { Image } from "astro:assets";
import welfare_icon from "src/assets/icons/icons8-welfare-50.png";

import cert_icon from "../assets/icons/icons8-qualification-68.png";
import dog_icon from "../assets/icons/icons8-dog-50.png";
import van_icon from "../assets/icons/icons8-van-50.png";
import nature_icon from "../assets/icons/icons8-environment-50.png";
---

<section class="m-2 flex flex-col gap-5 justify-center lg:grid lg:grid-cols-5">
  <div
    class="flex flex-col items-center gap-3 p-2 border-2 bg-neutral-50 shadow rounded-xl"
  >
    <Image
      src={welfare_icon}
      alt="hands holding a heart icon"
      width={80}
      height={80}
    />

    <h3 class="text-2xl font-semibold uppercase text-green-700">Welfare</h3>
    <p class="text-lg font-medium text-center text-neutral-900">
      Passionate about animal welfare with expert knowledge of canine behaviour
      and physiology.
    </p>
  </div>
  <div
    class="flex flex-col items-center gap-3 p-2 border-2 shadow rounded-xl bg-green-50 border-green-300"
  >
    <Image src={cert_icon} alt="certificate icon" width={80} height={80} />
    <h3 class="text-2xl text-green-700 font-semibold uppercase">Experience</h3>
    <p class="text-lg font-medium text-center text-neutral-900">
      Fully insured and registered with Brighton and Hove Council.
      Qualifications including canine first aid, DBS check, and professional dog
      walking training.
    </p>
  </div>
  <div
    class="flex flex-col items-center gap-3 p-2 border-2 border-natural-200 shadow rounded-xl bg-neutral-50"
  >
    <Image src={dog_icon} alt="dog icon" width={80} height={80} />
    <h3 class="text-2xl text-green-700 font-semibold">DOGS</h3>
    <p class="text-lg font-medium text-center text-neutral-900">
      Small and medium sized breeds only. Dogs enjoy group walks with friendly
      companions, returning home relaxed. Safety and individual attention are
      prioritised.
    </p>
  </div>
  <div
    class="flex flex-col items-center gap-3 p-2 border-2 shadow rounded-xl bg-green-50 border-green-300"
  >
    <Image src={van_icon} alt="van icon" width={80} height={80} />
    <h3 class="text-2xl text-green-700 font-semibold uppercase">van</h3>
    <p class="text-lg font-medium text-center text-neutral-900">
      Fully equipped and specially adapted with individual crates, air
      conditioning and heating for your dogs comfort and safety.
    </p>
  </div>
  <div
    class="flex flex-col items-center gap-3 p-2 border-2 border-natural-200 shadow rounded-xl bg-neutral-50"
  >
    <Image
      src={nature_icon}
      alt="hands holding the earth icon"
      width={80}
      height={80}
    />
    <h3 class="text-2xl text-green-700 font-semibold uppercase">nature</h3>
    <p class="text-lg font-medium text-center text-neutral-900">
      Committed to environmental responsibility through the use of biodegradable
      products.
    </p>
  </div>
</section>
